<%- include("partials/header.ejs") -%>
    <h1>Home</h1>
    <p><%=content%></p>
    <% allPosts.forEach(post=> { %>
        <div>
            <h1><%=post.title%></h1>
            <p><%=post.body.substring(0,100) + " ..."%> <a href="/posts/<%=post._id%>">Read More</a></p>
        </div>
    <% }) %>
<%- include("partials/footer.ejs") -%>